#Apponcode.org {
    width: 100%;
    height: 800px;
    background-color: darkcyan;
}

#Gamesoncode.org {
    width: 100%;
    height: 800px;
    background-color: darkgoldenrod;
}

#Chatwithsolarandeinstienondialogflow {
    width: 100%;
    height: 800px;
    background-color: linear-gradient(#00FFFF 0%, #12C96E 100%);
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

img:hover {
    transform: scale(0.9);

}
img {
    width: 900px;
    
}
body {
    text-align: center;
}